# Data & AI
pandas
openpyxl
sentence-transformers
torch

# Web Framework & Server
fastapi
uvicorn[standard]

# Database & Environment
mysql-connector-python
python-dotenv

# Validation & Security
email-validator
passlib[bcrypt]
python-jose[cryptography]